/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: rgb(110, 110, 110);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
header {
  font-family: "Marcellus SC", sans-serif;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 8px -8px black;
  position: sticky;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 100;
}
h1 {
  font-size: 3em;
  letter-spacing: 15px;
  padding-bottom: 0.5em;
}
li {
  font-size: 1em;
  display: inline;
}
a {
  text-decoration: none;
  color: rgb(110, 110, 110);
}
li a:hover {
  text-decoration: underline;
  color: rgb(110, 110, 110);
}
nav {
  padding: 10px;
}
nav a {
}
img {
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headshot {
  float: left;
  margin: 0 15px 0 0;
  box-shadow: 0 2px 5px #777777;
  border-radius: 4px;
  padding: 0;
}

.maintext {
  padding: 10px;
}

.thesistext {
  padding: 20px 10px;
  text-align: left;
}

section {
  /* height: calc(100vh - 1em); */
  color: rgb(110, 110, 110);
  scroll-snap-align: center;
}

h2 {
  font-family: "Marcellus SC", sans-serif;
  font-size: 40px;
  padding: 20px 0;
  text-align: center;
}
h3 {
  font-weight: bold;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.about,
.articles,
.contact {
  padding: 0 3em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 360px;
  position: relative;
  margin: 30px auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  width: auto;
  padding: 12px 20px;
  margin-top: -22px;
  color: #777777;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px;
  text-align: center;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* back to top button */
#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #717171;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#backToTop:hover {
  background-color: #555;
}

/* card styling */
/* .card {
}
.cardHeader {
  font-size: 2em;
}
.cardContainer {
  padding: 1em;
}
.card-footer-item {
  text-decoration: none;
  padding: 10px 5px;
}
.card-footer-item a:hover {
  text-decoration: underline;
} */

/* Contact Form Styling */
form {
  margin: 10px;
  padding: 0 4em;
  overflow: hidden;
}

input {
  font-family: "Raleway", sans-serif;
  width: 98%;
  padding: 5px 5px;
  margin: 10px 0;
  float: left;
  border: 1px solid #777777;
  border-radius: 4px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}
.submit {
  color: #ffffff;
  background-color: #717171;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 15em;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

.submit:hover {
  background-color: #555;
}

.submit:active {
  background-color: #555;
  transform: translateY(4px);
}

textarea {
  margin: 5px 0;
  padding: 5px 5px 75px;
  width: 98%;
  overflow: scroll;
  resize: both;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 640px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  /* section {
    margin-top: 2em;
    height: calc(100vh - 10em);
  } */
  .about,
  .contact {
    padding: 0 1em 2em;
  }
  .headshot {
    float: none;
  }
  form {
    margin: 0;
    padding: 0 1em;
    overflow: hidden;
  }
}
